# Desarrollo local
VITE_API_URL=http://localhost:8000
VITE_CLERK_PUBLISHABLE_KEY=pk_test_tu_clave_publica_de_clerk

# Produccion (Vercel)
# VITE_API_URL=https://proyectopronosticosufc.onrender.com
# VITE_CLERK_PUBLISHABLE_KEY=pk_live_tu_clave_publica_de_clerk
